---
import globalStyles from "../../global.module.css";
import styles from "./Welcome.module.css";
---

<div class={globalStyles.row_container}>
  <article>
    <h3>Hi! 👋 My name is Job</h3>
    <p class={(globalStyles.pretty_text, globalStyles.base_text)}>
      Junior Front End Developer and Scrum Master who wants to improve his
      knowledge and create pleasant and easy-to-understand compositions for
      everyone.
    </p>
  </article>
  <div class={styles.title}>
    <h1 class={styles.front_text}>Frontend</h1>
    <h2 class={styles.dev_text}>Developer</h2>
  </div>
</div>
