.title {
  max-width: fit-content;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: left !important;
}

.front_text {
  font-weight: 500;
  font-family: "Thunder", "Impact", Arial, Helvetica, sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #cccccc;
  color: transparent;
  text-shadow: 1px 1px 7px rgba(255, 255, 255, 1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin: 0 auto;
  width: 100%;
  z-index: -100;
}

.dev_text {
  font-size: 7rem;
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
  font-family: "Thunder", "Impact", Arial, Helvetica, sans-serif;
  margin: -90px 0 0 0;
  text-align: start;
  padding-left: 36px;
}

.title_container {
  width: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
}
