---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav/Nav.astro";
---

<Layout title="Welcome to Astro.">
  <Nav />
  <div>largeeeee content</div>
</Layout>

<style>
  div {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #d1d1d1;
  }
</style>
