---
import styles from "./Experience.module.css";
---

<div id="experience">
  <article class={styles.work_container}>
    <h1>Experience</h1>
    <p>
      My experience is vast and varied. I have worked in many different
      industries and have a wide range of skills. I am a quick learner and am
      always looking for new challenges. I am confident that I can bring a lot
      to the table and am excited to see what the future holds.
    </p>
  </article>
  <article class={styles.work_container}>
    <h1>Experience</h1>
    <p>
      My experience is vast and varied. I have worked in many different
      industries and have a wide range of skills. I am a quick learner and am
      always looking for new challenges. I am confident that I can bring a lot
      to the table and am excited to see what the future holds.
    </p>
  </article>
</div>

<style>
  #experience {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 4%;
    gap: 8%;
    flex-wrap: wrap;
    width: fit-content;
    height: 100vh;
  }
</style>
