---
import styles from "./Nav.module.css";
import globalStyles from "../../global.module.css";
type Props = {};

const {} = Astro.props;
---

<nav class={styles.nav}>
  <div class={styles.name_container}>
    <p class={globalStyles.name_bold}>Job Martinez</p>
  </div>
  <div class={styles.links_container}>
    <div><a href="#home">Home</a></div>
    <div><a href="#experience">Experience</a></div>
    <div><a href="#projects">projects</a></div>
    <div><a href="#about">About & skills</a></div>
  </div>
</nav>
